<div class="Main">
    <header>
        <mat-toolbar class="toolbar">
            <mat-select placeholder="sort" (selectionChange)="onSelectionChange($event.value,dataSource)">
                <mat-option value="asc">A-Z</mat-option>
                <mat-option value="dsc">Z-A</mat-option>
                <mat-option value="rank_asc">Rank(Asc)</mat-option>
                <mat-option value="rank_dsc">Rank(Desc)</mat-option>
            </mat-select>
            <div class="box">
                <div class="container-1">
                    <span class="icon"></span>
                    <input type="search" id="search" placeholder="Search..." (keyup.enter)="onSearch($event.target.value)" />
                </div>
            </div>
        </mat-toolbar>
    </header>

    <div class="Spinner" *ngIf="spinner">
        <app-spinner></app-spinner>
    </div>


    <div class="content" [hidden]="loaded">
        Total Results Found : {{Total}}
        <mat-accordion>
            <mat-expansion-panel (opened)="Details(table.login)" [expanded]="table.open" *ngFor="let table of dataSource">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <img src="/assets/User.jpg" alt="User" style="width:50px;height:50px">
                    </mat-panel-title>
                    <mat-panel-description>
                        <div class='wrap'>
                            <div class="blocks"> {{table?.login}}</div>
                            <div class="blocks"> Profile URL: {{table?.url}}</div>
                            <div class="blocks"> Score: {{table?.score}}</div>
                        </div>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div [hidden]="tableloaded">
                    <mat-table [dataSource]="UserData">
                        <ng-container matColumnDef="full_name">
                            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element?.full_name}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="language">
                            <mat-header-cell *matHeaderCellDef class="language"> Language </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="language"> {{element?.language || value}} </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

    </div>
</div>